<nav class="navbar navbar-default navbar-fixed-top" >
	  <div class="container" style="width: 100%">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" >Heapsters</a>
	    </div>
 
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="./#/">Αρχική Σελίδα</a></li>
	        
	        <li class="dropdown">
	          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Δραστηριότητες!<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	          
	            <li><a href="./#/events">Ψάξε δραστηριότητα</a></li>
	            <li><a href="./#/events-location">Δραστηριότητες κοντά σου</a></li>
                
                
                   
                   <li ng-if="isLoggedIn && isProvider" role="separator" class="divider"></li>
                   <li ng-if="isLoggedIn && isProvider"><a href="./#/addEvent">Δημιουργία δραστηριότητας</a></li>
                   <li ng-if="isLoggedIn && isProvider"><a href="./#/providerhistory"> Οι δραστηριότητές μου</a></li>
	               
                   
            </ul>
	        </li>
            

	      </ul>

	      	<div ng-if=isLoggedIn>
	      	<ul class="nav navbar-nav navbar-right">
	      	 
	      	 <li ng-if="isLoggedIn && isProvider"><img src={{picture}} height="50" width="70"></li>
	      	 <li ng-if="isLoggedIn && !isProvider"><img src="../assets/default.jpg" height="50" width="70"></li>
	
	      	 <li>
	      		<!--div style="color:#FFFFFF"> Καλώς ήρθατε </div-->
	      		<!--li><a href="./#/logout">Aποσύνδεση <i class="fa fa-user"></i></a></li-->
	      		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >{{username}}<span class="caret"></span></a>
	      		<ul class="dropdown-menu">
	            			<li> <a style="text-align: center;" href="./#/profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Προφίλ <i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
	            			<li role="separator" class="divider" style="margin:0;"></li>
	            			<li style="text-align: center; width: 100%;height:100%;height: 40px; "><button style="width: 100%;height: 100%;background-color: #f22b2b; margin:0 0 0 0;" ng-click=logout()><b>Αποσύνδεση</b>  <i class="fa fa-ban" aria-hidden="true"></i></button></li>
	            </ul>
	      		
	      	 </li>

	      	</ul>
	      	</div>
	      	<div ng-if=!isLoggedIn>
	      		<ul class="nav navbar-nav navbar-right">	
					<li><a href="./#/login">Σύνδεση <i class="fa fa-user"></i></a></li>
	        		<li class="dropdown">
	        			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Εγγραφή <span class="caret"></span><i class="fa fa-user-plus"></i></a>
	        			<ul class="dropdown-menu">
	            			<li><a href="./#/register">Εγγραφή ως γονέας</a></li>
	            			<li role="separator" class="divider"></li>
	            			<li><a href="./#/register_provider">Εγγραφή ως πάροχος</a></li>
	            		</ul>
	        			
	        		</li>
	        	</ul>	        
	      	</div>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>-