<style>
    body{
        background-image: url();
    }
</style>


<!DOCTYPE html>
<html>
<head>
	<title>About the page</title>
	
</head>
<body>

<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>
<h1  style="color: green;text-align: center"><u>ΣΧΕΤΙΚΑ ΜΕ ΕΜΑΣ</u></h1>
<div class="container" style="color: black;font-size: 25px">
	<p style="color: black">Η δημιουργία αυτής της πλατφόρμας πραγματοποιήθηκε από 7 τελειόφοιτους φοιτητές του Εθνικού Μετσόβιου Πολυτεχνείου. Τα μέλη της ομάδας μας είναι τα εξής:</p>
</div>
<ul>
			    	<li style="color: black;font-size: 25px">Κατσαραγάκης Εμμανουήλ</li>
			    	<li style="color: black;font-size: 25px">Κουβατζής Κωνσταντίνος</li>
			    	<li style="color: black;font-size: 25px">Κυτέας Απόστολος</li>
			    	<li style="color: black;font-size: 25px">Νάνος Λεωνίδας</li>
			    	<li style="color: black;font-size: 25px">Ντερβάκος Έντμοντ-Γρηγόρης</li>
			    	<li style="color: black;font-size: 25px">Παπαδημητρίου Αλέξανδρος</li>
			    	<li style="color: black;font-size: 25px">Τζανίκος Μαρίνος</li>
			    </ul>
<div class="container" style="color: black;font-size: 25px">
	<p>Αυτή είναι μία ιστοσελίδα για γονείς με σκοπό να βρίσκουν δραστηριότητες για τα παιδιά τους.</p>
	<p style="color: black">Οι δραστηριότητες αυτές αφορούν μόνο την περιοχή της Αττικής. Ωστόσο ελπίζουμε ότι θα <strong>επεκταθούμε</strong> και σε άλλα σημεία της Ελλάδας αλλά και σε άλλες χώρες!</h2>
</div>
<div class="container" style="color: azure;font-size: 25px">
	<p style="color: black">Ωστόσο σας συνιστούμε να κάνετε <a href="./#/donate" style="color: green" >δωρεές</a> ώστε να συνεισφέρετε στην εύρυθμη λειτουργία της ιστοσελίδας.</h2>
</div>	
<footer-directive></footer-directive>
</div>
</body>

</html>










