
<!DOCTYPE html>
<html>
<head>
	<title>About the page</title>

</head>
<body>
<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>

<div class="container" style="color: azure;font-size: 30px">
	<h3>Η δημιουργία αυτής της πλατφόρμας πραγματοποιήθηκε από 7 τελειόφοιτους φοιτητές του Εθνικού Μετσόβιου Πολυτεχνείου.</h3>
</div>
<div class="container" style="color: azure;font-size: 25px">
	<p>Αυτή είναι μία ιστοσελίδα για γονείς με σκοπό να βρίσκουν δραστηριότητες για τα παιδιά τους.</p>
	<p>Οι δραστηριότητες αυτές αφορούν μόνο την περιοχή της Αττικής. Ωστόσο ελπίζουμε ότι θα <strong>επεκταθούμε</strong> και σε άλλα σημεία της Ελλάδας αλλά και σε άλλες χώρες!</p>
</div>
<div class="container" style="color: azure;font-size: 25px">
	
	<p>Ωστόσο σας συνιστούμε να κάνετε <a href="./#/donate" style="color: greenyellow" >δωρεές</a> ώστε να συνεισφέρετε στην εύρυθμη λειτουργία της ιστοσελίδας </p>
	<p>Τέλος, ενώ επιτρέπεται να επιτελέσετε όλες τις λειτουργίας που προσφέρει η πλατφόρμα έχοντας ενεργοποιημένο <strong>adblocker</strong>, σας παρακαλούμε να <strong>καταργηθεί</strong> στην ιστοσελίδα μας.</p>
</div>	
<footer-directive></footer-directive>
</body>
</html>