<!DOCTYPE html>
<html ng-app="myApp" style="width: 100%">
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq6gVXzKjVwYvc0Y6cB9LWJcngquAnsY4&language=el" async defer>
</script>  
<head>
	
	<title>Heapsters Project</title>

	
	<link rel="stylesheet" href="./partials/app.css">
	<!--<link rel="stylesheet" type="text/css" href="jquery-3.2.1.min.js">-->
</head>

<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 400px;
      width: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
    }
</style>

<body style="width: 100%">

<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>


<div class="container-fluid bg">
  
  <div class="row" >

    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-md-4 col-sm-4 col-xs-12">

        <h1>Προσθήκη Δραστηριότητας</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <form class="form" ng-submit="createEvent()" style="margin-bottom: 35%;">
          <div class="form-group">
            <label><h3><b>Όνομα Δραστηριότητας</h3></b></label>
            <input type="text" class="form-control" name="eventname" ng-model="eventForm.eventname" placeholder="π.χ Ποδόσφαιρο" required>
          </div>
          <div class="form-group">
            <label><h3><b>Τιμή</h3></b></label>
            <input type="text" class="form-control" name="price" ng-model="eventForm.price" required>
          </div>
          
          <div class="radio">
            <h3>Κατηγορία δραστηριότητας:</h3>
            <br>  
            <label class="radio-inline" style="font-size: 20px; color: green">    
                <input type="radio"  name="category" value="sports" ng-model="eventForm.category"> Αθλήματα
            </label>
            <label class="radio-inline" style="font-size: 20px; color: red">     
                <input type="radio"  name="category" value="art" ng-model="eventForm.category"> Τέχνη
            </label>
            <label class="radio-inline" style="font-size: 20px; color: blue">     
                <input type="radio"  name="category" value="science" ng-model="eventForm.category"> Επιστήμη
            </label>
            <label class="radio-inline" style="font-size: 20px; color: gold"> 
                <input type="radio"  name="category" value="fun" ng-model="eventForm.category"> Ψυχαγωγία
            </label>
                  
          </div>
          <div class="form-group">
            <label><h3><b>Για παιδιά ηλικίας από :</h3></b></label>
            <input type="text" class="form-control" name="minage" ng-model="eventForm.minage" required>
          </div>
          <div class="form-group">
            <label><h3><b>Εως</h3></b></label>
            <input type="text" class="form-control" name="maxage" ng-model="eventForm.maxage" required>
          </div>
          <div class="form-group">
            <label><h3><b>Αριθμός διαθέσιμων εισιτηρίων:</h3></b></label>
            <input type="number" class="form-control" name="tickets" ng-model="eventForm.tickets" required>
          </div>    
          <div class="form-group">
            <label><h3><b>Σύντομη περιγραφή δραστηριότητας :</h3></b></label>
            <input type="text" class="form-control" name="description" ng-model="eventForm.description" required>
          </div>
          <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12"></div>

          <div ng-controller="locationController" class = "text-right">
              <div class = "input-append text-right">
                <input type = "text" ng-model = "address"/>
                <button class = "btn" type = "button" ng-click="findLocation()" ng-disabled="search.length == 0" tittle = "address" >
                    &nbsp;<i class="icon-search"></i>Search Location
                </button>
                <button class = "btn" type = "button" ng-click="captureUserLocation()" ng-disabled="search.length == 0" tittle = "current location" >
                    &nbsp;<i class="icon-search"></i>My Location
                </button>
              </div>
          </div>
          
          <div id="map" align = "center"> </div>

          <br/>
          <div class="col-md-4 col-sm-4 col-xs-12">
          <!--div-->
            <button type="submit" class="btn btn-success" ng-disabled="disabled" id="sub_but">Προσθήκη</button>
            <!--button type="submit" class="btn btn-success"></button-->
          <!--/div-->
          </div>
          </div>
        </form>
      </div>
    </div>
	</div>
	
	
	</body>

</html>