<style>
    body{
        background-image: url();
    }
</style>


<!DOCTYPE html>
<html>
<head>
	<title>About the page</title>
	
</head>
<body>

<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>

<div class="container">
 <div class="row">

	<h1  style="color: green;text-align: center"><u>ΕΠΙΚΟΙΝΩΝΙΑ</u></h1>
	<br>
	<div style="color: black">
		<ul>
			<li>Επικοινωνήστε μαζί μας στο  <a href="https://www.twitter.com" style="color: blue"><strong>Twitter</strong>, στο <a href="https://www.facebook.com" style="color: blue"><strong>Facebook</strong></a> και στο <a href="https://www.instagram.com" style="color: blue"><strong>Instagram</strong></a></li>
			<li>Μπορείτε να επικοινωνήσετε μαζί μας με <strong style="color: blue">email</strong> στη διεύθυνση <strong style="color: blue">heapstersmail@gmail.com</strong>.
			<li>Επίσης, μπορείτε να επικοινωνήσετε ατομικά με κάθε μέλος της ομάδας μας στις παρακάτω διευθύνσεις</li>
			    <ul>
			    	<li>Κατσαραγάκης Εμμανουήλ -  m.katsaragakis@hotmail.com</li>
			    	<li>Κουβατζής Κωνσταντίνος - kouvatziskonstantinos@gmail.com</li>
			    	<li>Κυτέας Απόστολος - apostoloskyteas@gmail.com</li>
			    	<li>Νάνος Λεωνίδας - nanomail4@gmail.com</li>
			    	<li>Ντερβάκος Έντμοντ-Γρηγόρης - eddiedervakos@hotmail.com</li>
			    	<li>Παπαδημητρίου Αλέξανδρος - alexpd068@gmail.com</li>
			    	<li>Τζανίκος Μαρίνος - mtzaniko@gmail.com</li>
			    </ul>
			</li>
		</ul>
	</div>
</div>
</div>	

<footer-directive></footer-directive>
</div>
</body>

</html>










