<!DOCTYPE html>
<html>
<head>
	<title>About the page</title>

</head>
<body>

<div style="width: 100%">
<header-nav-directive></header-nav-directive>
</div>
<div class="container">
 <div class="row">

	<div >
		<h3><strong>Επικοινωνία μαζί μας.</strong></h3>
	</div>
	<div >
		<ul>
			<li>Επικοινωνήστε μαζί μας στο Twitter <a href="https://www.google.com"></a>Twitter</li>
			<li>Μπορείτε να επικοινωνήσετε μαζί μας με <strong>email</strong>.
			    <p>Παρακάτω είναι τα ονόματα και οι ηλεκτρονικές διεθύνσεις των συνεργατών.</p>
			    <h2>Heapsters</h2>
			    <ul>
			    	<li>Κατσαραγάκης Εμμανουήλ -  m.katsaragakis@hotmail.com</li>
			    	<li>Κουβατζής Κωνσταντίνος - kouvatziskonstantinos@gmail.com</li>
			    	<li>Παπαδημητρίου Αλέξανδρος - alexpd068@gmail.com</li>
			    	<li>Νάνος Λεωνίδας - nanomail4@gmail.com</li>
			    	<li>Τζανίκος Μαρίνος - mtzaniko@gmail.com</li>
			    	<li>Κυτέας Απόστολος - apostoloskyteas@gmail.com</li>
			    	<li>Ντερβάκος Έντμοντ-Γρηγόρης - eddiedervakos@hotmail.com</li>
			    </ul>
			</li>
		</ul>
	</div>
</div>
</div>	
<footer-directive></footer-directive>
</body>
</html>