<!DOCTYPE html>
<html>
<head>
	<title>Heapsters Project</title>
</head>
<body>
  <div style="width:100%;">
  	<header-nav-directive></header-nav-directive>
  </div>	

  <div class="container">
  	<div class="row">
  	  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
		<form class="form-inline">
	  		<div class="form-group">
	    		<label class="sr-only" for="exampleInputAmount">Ποσό (σε ευρώ)</label>
	    		<div class="input-group">
	      			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Ποσό">
	      				<div class="input-group-addon">.00</div>
	    		</div>
	  		</div>
	  		<button type="submit" class="btn btn-primary">Μεταφορά χρημάτων!</button>
		</form>
	</div>
</div>
</div>
<!--logo sta aristera kai sta dexia thelw ena follow Heapsters on twitter kai ena donate button. sunolika thelw 4 pragmata sto footer-->
  
<footer-directive></footer-directive>
		
</body>
</html>