<!DOCTYPE html>
<html>
<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq6gVXzKjVwYvc0Y6cB9LWJcngquAnsY4&language=el" async defer>
</script>
 <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 400px;
      width: 100%;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
    }
</style>


<!--https://bootsnipp.com/snippets/featured/portfolio-gallery-with-filtering-category-->
<div class="container" align="center">
	<div class="row" align="center">
		<div class="content col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center">
            <div class="row">
            <div class="col-md-12 col-lg-12 col-xs-12 " style="text-align: center">
			<h2 style="color: aliceblue; font-size: 45px;">Βρες δραστηριότητα!</h2>
                </div>
            </div>
			<br/>

		
  		

			<div ng-init="getAllEventsDelay()"> </div>

			<div class="container-fluid bg" style="align-items: center">
				<div class="row">
					<div class="col-md-12 col-lg-12 " style="text-align: center">
						<div id="custom-search-input">
							<div class="input-group col-md-12 col-lg-12 ">
								<input ng-model="nameFilter" ng-change="getAllEvents(encodeURIComponent(nameFilter))" type="text" class="form-control input-lg" placeholder="πχ. ποδόσφαιρο Παλαιό Φάληρο" />
								<span class="input-group-btn">
									<button class="btn btn-info btn-lg" type="button">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style>
				.slidecontainer {
				width: 400px; /* Width of the outside container */
			}
			</style>
			

			<div align="center">
				<h2>...ή ξεφύλλισε</h2>
				<button class="btn btn-default filter-button" data-filter="all">Όλα</button>
				<button class="btn btn-default filter-button" data-filter="sports">Αθλητισμός</button>
				<button class="btn btn-default filter-button" data-filter="art">Τέχνη</button>
				<button class="btn btn-default filter-button" data-filter="science">Επιστήμη</button>
				<button class="btn btn-default filter-button" data-filter="fun">Ψυχαγωγία</button>
				<div class="slidecontainer">
				  <input type="range" min="1" max="51" value="51" step="5" class="slider" id="myRange">
				  <p>Απόσταση: <span id="demo"></span>  χλμ.</p>
				</div>

                
			</div>
            <br/>
            <div id="map"> </div>
			<br/>
            <h2 style="color: aliceblue">Οι δραστηριότητες μας! </h2>
            <p style="height: 30px"></p>
            

            <!--
                 opou uparxei stoixeio gia to event kanoume import auto pou exoume parei apo to query p.x: gia to eventname bazoume {{event.eventname}}
            -->
			<div ng-repeat="event in eventsList" align="center">
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{event.category}}">
                    <a ng-href="./#/singleEvent?id={{event._id}}">
                    <img src="http://www.femalefirst.co.uk/image-library/partners/rivals/square/500/l/lionel-messi-f012b0-rv.jpg" class="img-responsive" ng-href="event/single_event/?parameter={{event._id}}" >
                    <div class="event-title-overlay">
                    	<h2 style="color: blue">{{event.eventname}}</h2>
                    </div>
                    <div class="event-age-overlay">
						<h2 style="color: blue">ηλικίες:{{event.minage}}-{{event.maxage}}</h2>
                    </div>
					
                    </a>
                   <!--  <a ng-href="./#/singleEvent" >
                        deite to
					</a> -->

				</div>
            </div>
    </div>
</div>
</section>
</html>