<style>
    body{
        background-image: url();
    }
</style>


<!DOCTYPE html>
<html>
<head>
	<title>faq</title>
	
</head>
<body>

<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>
<div class="container" style="color: black">
	<h1  style="color: green;text-align: center"><u>Πιο συχνές ερωτήσεις και απαντήσεις.</u></h1>
	
    <ul>
        <li><h2 style="color: royalblue" class="just_padding">Ποιος είναι ο σκοπός αυτής της ιστοσελίδας?</h2></li>
        <p class="just_padding">
            Ο βασικός σκοπός είναι η δημιουργία μίας διαδικτυακής πλατφόρμας μέσω της οποίας θα διευκολύνονται οι γονείς να επιλέγουν δραστηριότητες για τα παιδιά τους με βάση διάφορα κριτήρια, όπως η ηλικία, το είδος της δραστηριότητας, το κόστος της κ.ά.. Επιπλέον, αποσκοπούμε στη προώθηση και ανάδειξη των παρόχων και των υπηρεσιών τους.
        </p>

        <li><h2 style="color: royalblue" class="just_padding">Χρειάζεται να πληρώσω?</h2></li>
        <p class="just_padding">
            Όχι, εκτός αν θέλετε να κάνετε <a href="./#/donate" style="color: green" >δωρεά</a>.
        </p>

        <li><h2 style="color: royalblue" class="just_padding">Τι μπορώ να κάνω χωρίς λογαριασμό?</h2></li>
        <p class="just_padding">
            Μπορείτε μόνο να ψάξετε για δραστηριότητες. Δεν μπορείτε να αγοράσετε και να κάνετε κρατήσεις, δεν μπορείτε να αποθηκεύσετε τις δραστηριότητες που ενδεχομένως να σας ενδιαφέρουν ούτε να κάνετε προσαρμοσμένη αναζήτηση των δρασστηριοτήτων με βάση την τοποθεσία.
        </p>
        <li><h2 style="color: royalblue" class="just_padding">Δεν μπορώ να συνδεθώ.</h2></li>
        <p class="just_padding">
           Σε περίπτωση ου ξεχάσετε τον κωδικό σας ένας admin μπορεί να αλλάξει τον κωδικό σας(reset password).    
        </p>
        <li><h2 style="color: royalblue" class="just_padding">Είμαι πάροχος και δεν μπορώ να επιτελέσω καμία λειτουργία.</h2></li>
        <p class="just_padding">
           Στην περίπτωση που είστε πάροχος και μόλις έχετε εγγραφεί θα πρέπει να περιμένετε ένα διάστημα μέσα στο οποίο θα γίνουν κάπιοι έλεγχοι και στην περίπτωση που εγκριθείτε θα μπορείτε να επιτελέσετε όλες τις επιθυμητές λειτουργίες αλλιώς δεν σας παρέχετε καμία δυνατότητα.
        </p>
    </ul>
	
    <p style="height: 240px">
    
    </p>
</div>
<div class="container">
<footer-directive></footer-directive>
</div>
</body>

</html>