<!DOCTYPE html>
<html>
<head>
	<title>About the page</title>

</head>
<body>

<div style="width: 100%">
<header-nav-directive></header-nav-directive>
</div>

<div class="container">
	<h1>ΠΟΛΙΤΙΚΗ ΠΡΟΣΤΑΣΙΑΣ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</h1>
	<p class="just_padding">
		Σεβόμαστε την ιδιωτικότητα όλων των επισκεπτών της παρούσας ιστοσελίδας. Συνεπώς, θα θέλαμε να σας ενημερώσουμε σχετικά με τον τρόπο χρήσης των προσωπικών σας δεδομένων. Σας συνιστούμε να διαβάσετε την παρούσα πολιτική προστασίας προσωπικών δεδομένων προκειμένου να κατανοήσετε την προσέγγισή μας ως προς τη χρήση των προσωπικών σας δεδομένων.
	</p>
	<p class="just_padding">Κοινοποιώντας σε εμάς τα προσωπικά σας δεδομένα θεωρείται ότι έχετε παράσχει την άδειά σας, όπου αυτό απαιτείται ή ενδείκνυται, για την περαιτέρω κοινοποίησή τους σύμφωνα με την παρούσα πολιτική.
	</p>

	<h2 class="just_padding">Τι καλύπτει η παρούσα πολιτική προστασίας;</h2>
	<p class="just_padding"> Σκοπός της παρούσας πολιτικής προστασίας δεδομένων είναι να σας ενημερώσει σχετικά με τη χρήση των προσωπικών στοιχείων που συλλέγονται κατά την επίσκεψή σας σε κάποια από τις ιστοσελίδες μας.

	Η παρούσα πολιτική προστασίας ισχύει για την πλειονότητα των ιστοσελίδων μας, ωστόσο ενδέχεται σε ορισμένες περιπτώσεις να ισχύει μια ελαφρώς διαφορετική πολιτική προστασίας προσωπικών δεδομένων. Σε κάθε περίπτωση στην οποία κάποια ιστοσελίδα της Shell εφαρμόζει διαφορετική πολιτική προστασίας δεδομένων, θα καθίσταται σαφές ότι η εν λόγω πολιτική διαφέρει από την παρούσα γενική πολιτική της Shell.

	Κατά την περιήγησή σας στις ιστοσελίδες της Shell, παρακαλούμε να ελέγχετε την πολιτική προστασίας δεδομένων της κάθε ιστοσελίδας και να μην θεωρείτε ότι η παρούσα πολιτική προστασίας ισχύει για όλες τις ιστοσελίδες της Shell. </p>

	<h2 class="just_padding">Ποιος είναι υπεύθυνος για τα προσωπικά δεδομένα που συλλέγονται στην παρούσα ιστοσελίδα;</h2>
	<p class="just_padding">Τα προσωπικά δεδομένα σας ελέγχονται σε τελικό στάδιο από τη Shell International B.V., ολλανδική εταιρεία με αριθμό μητρώου 27155369, με έδρα στην οδό Carel van Bylandtlaan 30, 2596 HR, στη Χάγη των Κάτω Χωρών. </p>

	<h2 class="just_padding">Ειδική Ειδοποίηση - εάν είστε κάτω των 13 ετών</h2>
	<p class="just_padding">Η ιστοσελίδα μας δεν απευθύνεται σε παιδιά κάτω των 13 ετών και, συνεπώς, δεν πρόκειται εν γνώσει μας να συλλέξουμε, χρησιμοποιήσουμε, παράσχουμε ή επεξεργαστούμε με οποιονδήποτε άλλο τρόπο τα προσωπικά στοιχεία παιδιών κάτω των 13 ετών. Κατά συνέπεια, σας ζητούμε, εάν είστε κάτω των 13 ετών, να μην μας αποστείλετε προσωπικά σας στοιχεία (για παράδειγμα το ονοματεπώνυμο, τη διεύθυνση κατοικίας και την ηλεκτρονική σας διεύθυνση).

	Εάν είστε κάτω των 13 ετών και παρ' όλα αυτά επιθυμείτε να υποβάλετε κάποια ερώτηση ή να χρησιμοποιήσετε την παρούσα ιστοσελίδα με οποιονδήποτε τρόπο ο οποίος προϋποθέτει την κοινοποίηση προσωπικών σας δεδομένων, παρακαλούμε ζητήστε από τον γονέα ή τον κηδεμόνα σας να το πράξει για λογαριασμό σας. </p>
	<h2 class="just_padding">Σκοπός συλλογής των δεδομένων σας;</h2>
	<p class="just_padding">Ένας από τους σκοπούς της ιστοσελίδας μας είναι να σας ενημερώσουμε για το ποιοι είμαστε και τι κάνουμε. Συλλέγουμε και χρησιμοποιούμε προσωπικά στοιχεία (μεταξύ άλλων, ονοματεπώνυμο, διεύθυνση, τηλέφωνο και ηλεκτρονική διεύθυνση) προκειμένου να σας παράσχουμε καλύτερα τις απαιτούμενες υπηρεσίες ή πληροφορίες. Συνεπώς, χρησιμοποιούμε τα προσωπικά στοιχεία σας προκειμένου να:</p>

	<ul>
		<li>απαντήσουμε σε ερωτήσεις ή αιτήματα που μας υποβάλλετε</li>
		<li>επεξεργαστούμε παραγγελίες ή αιτήσεις που μας υποβάλλετε</li>
		<li>διαχειριστούμε ή εκπληρώσουμε τις υποχρεώσεις μας που απορρέουν από τυχόν σύμβαση που διαθέτετε με εμάς</li>
		<li>διαχειριστούμε και να επιλύσουμε προβλήματα με οποιαδήποτε αγαθά ή υπηρεσίες που σας παρέχονται</li>
		<li>δημιουργήσουμε προϊόντα ή υπηρεσίες για την κάλυψη των αναγκών σας.</li>
	</ul>
	<p>
		Για να βελτιστοποιήσουμε τις υπηρεσίες μας, ενδέχεται να χρησιμοποιήσουμε τα προσωπικά σας δεδομένα για σκοπούς άμεσου μάρκετινγκ. Σεβόμενοι την ιδιωτικότητά σας, θα χρησιμοποιήσουμε τα προσωπικά σας δεδομένα για τον σκοπό αυτό μόνο εν γνώσει σας και, εφόσον απαιτείται, θα ζητήσουμε τη συγκατάθεσή σας προτού τα χρησιμοποιήσουμε για σκοπούς άμεσου μάρκετινγκ.

Επιπλέον, εάν οποτεδήποτε επιθυμείτε να διακόψουμε τη χρήση των στοιχείων σας για οποιονδήποτε ή για όλους τους ανωτέρω σκοπούς, παρακαλούμε επικοινωνήστε μαζί μας όπως προβλέπεται κατωτέρω. Θα διακόψουμε τη χρήση των στοιχείων σας για τους σκοπούς αυτούς το συντομότερο δυνατό.

Επιπλέον, τα προσωπικά δεδομένα που συλλέγουμε αποστέλλονται (περιστασιακά) σε επιλεγμένους τρίτους, οι οποίοι ενδέχεται να είναι εγκατεστημένοι εκτός του Ευρωπαϊκού Οικονομικού Χώρου («ΕΟΧ»), στο πλαίσιο των υπηρεσιών που σας παρέχονται μέσω της ιστοσελίδας μας. Για παράδειγμα, αυτό μπορεί να συμβεί εάν κάποιος από τους διακομιστές μας είναι κατά καιρούς εγκατεστημένος σε χώρα εκτός ΕΟΧ ή ένας από τους παρόχους υπηρεσιών μας είναι εγκατεστημένος σε χώρα εκτός ΕΟΧ.

Οι εν λόγω τρίτοι δεν θα χρησιμοποιήσουν τα προσωπικά σας δεδομένα για κανέναν άλλο σκοπό πέραν αυτού που έχουμε συμφωνήσει μαζί τους. Η Shell ζητεί από τους εν λόγω τρίτους να λαμβάνουν επαρκή μέτρα προστασίας για τη διασφάλιση των προσωπικών σας δεδομένων.

Σεβόμενοι τα προσωπικά σας δεδομένα, σε περίπτωση που αποστείλουμε τα στοιχεία σας εκτός ΕΟΧ κατά τα ανωτέρω, θα προβούμε στις απαραίτητες ενέργειες ώστε να διασφαλίσουμε ότι συνεχίζει να προστατεύεται η ιδιωτικότητά σας. Επιπλέον, εάν χρησιμοποιείτε τις υπηρεσίες μας ενώ βρίσκεστε εκτός ΕΟΧ, τα δεδομένα σας μπορεί να μεταβιβαστούν εκτός ΕΟΧ προκειμένου να σας παρασχεθούν οι υπηρεσίες αυτές.

Με την επιφύλαξη των όρων της παρούσας πολιτικής προστασίας δεδομένων, δεν θα γνωστοποιήσουμε προσωπικά σας δεδομένα χωρίς την άδειά σας, παρά μόνο εφόσον έχουμε νόμιμο δικαίωμα ή υποχρέωση να το πράξουμε (για παράδειγμα, εάν απαιτηθεί στο πλαίσιο νομικής διαδικασίας ή για την πρόληψη απάτης ή άλλου εγκλήματος) ή εάν θεωρήσουμε ότι αυτό είναι απαραίτητο για την προστασία ή/και την προάσπιση των δικαιωμάτων, της ιδιοκτησίας ή της προσωπικής ασφάλειάς μας, καθώς και των χρηστών/πελατών μας ή άλλων προσώπων.

Σας διαβεβαιώνουμε ότι δεν θα χρησιμοποιήσουμε τα στοιχεία σας για οποιονδήποτε σκοπό εφόσον μας υποδείξετε κατά τον χρόνο υποβολής τους ή μεταγενέστερα ότι δεν επιθυμείτε να τα χρησιμοποιήσουμε κατ’ αυτόν τον τρόπο.
	</p>

	<h2 class="just_padding">Συλλογή μη προσωπικών στοιχείων;</h2>
	<p class="just_padding">Μπορούμε να συλλέγουμε αυτόματα μη προσωπικές πληροφορίες για εσάς, όπως το είδος του προγράμματος περιήγησης που χρησιμοποιείτε ή την ιστοσελίδα από την οποία συνδεθήκατε με τη δική μας. Μπορούμε επίσης να συγκεντρώνουμε στοιχεία που έχετε υποβάλει στην ιστοσελίδα (για παράδειγμα, την ηλικία σας και την πόλη διαμονής σας). Δεν είναι δυνατή η ταυτοποίησή σας από τις πληροφορίες αυτές, οι οποίες χρησιμοποιούνται αποκλειστικά για να μας βοηθήσουν να παρέχουμε αποτελεσματικές υπηρεσίες μέσω της παρούσας ιστοσελίδας. Ενδέχεται κατά καιρούς να παρέχουμε σε τρίτους τις εν λόγω μη προσωπικές ή συγκεντρωτικές πληροφορίες για χρήση αυτών σε σχέση με την παρούσα ιστοσελίδα. </p>
	
</div>	
<footer-directive></footer-directive>
</body>
</html>