<!--
<h1>Yo!</h1>
<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>
-->
<!DOCTYPE html>
<html ng-app="myApp" style="width: 100%">
<head>
	
	<title>Heapsters Project</title>

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="app.css">
	<!--<link rel="stylesheet" type="text/css" href="jquery-3.2.1.min.js">-->
</head>
<body style="width: 100%">
<div style="width: 100%">
	<nav class="navbar navbar-default"  >
	  <div class="container" style="width: 100%">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" >Heapsters</a>
	    </div>
 
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="">Αρχική Σελίδα</a></li>
	        
	        <li class="dropdown">
	          <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>

	      </ul>
	      <!--<form class="navbar-form navbar-left">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form> -->
	      
	      	<div ng-if=isLoggedIn>
	      	<ul class="nav navbar-nav navbar-right">
	      	
	      	 <li> MY avatar</li>	
	      	 <li>
	      		<div style="color:#FFFFFF"> Καλώς ήρθατε </div>
	      		<!--li><a href="./#/logout">Aποσύνδεση <i class="fa fa-user"></i></a></li-->
	      		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >{{username}} <span class="caret"></span></a>
	      		<ul class="dropdown-menu">
	            			<li> <a style="text-align: center;" href="./#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Προφίλ <i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
	            			<li role="separator" class="divider" style="margin:0;"></li>
	            			<li style="text-align: center; width: 100%;height:100%;height: 40px; "><button style="width: 100%;height: 100%;background-color: #f22b2b; margin:0 0 0 0;" ng-click=logout()><b>Αποσύνδεση</b>  <i class="fa fa-ban" aria-hidden="true"></i></button></li>
	            </ul>
	      		
	      	 </li>

	      	</ul>
	      	</div>
	      	<div ng-if=!isLoggedIn>
	      		<ul class="nav navbar-nav navbar-right">	
					<li><a href="./#/login">Σύνδεση <i class="fa fa-user"></i></a></li>
	        		<li class="dropdown">
	        			<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Εγγραφή <span class="caret"></span><i class="fa fa-user-plus"></i></a>
	        			<ul class="dropdown-menu">
	            			<li><a href="./#/register">Εγγραφή ως γονέας</a></li>
	            			<li role="separator" class="divider"></li>
	            			<li><a href="./#/register">Εγγραφή ως πάροχος</a></li>
	            		</ul>
	        			
	        		</li>
	        	</ul>	        
	      	</div>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

</div>
<!--logo sta aristera kai sta dexia thelw ena follow Heapsters on twitter kai ena donate button. sunolika thelw 4 pragmata sto footer-->
  
   <div class="container">
    	<div class="row">
			<div class="col-lg-12 col-md-12 col col-sm-12 col-xs-12">
				<div id="content">	
					<h1>Funactivities!</h1>
					<h3>Η κορυφαία πλατφόρμα για <strong>γονείς</strong> στην αναζήτηση δραστηριοτήτων για τα παιδιά τους!</h3>
					
					<button onclick="location.href='anonymous.html';" class="btn btn-default btn-lg">Αναζήτηση δραστηριότητας!</button>
				</div>	
			</div>
		</div>
	</div>
	<div class="container" style="text-align: center;width: 100%; ">
      	 <div style="width: 100%;text-align: center;" class="row" id="footer_index" >
      	 	<div class="col-md-3 col-sm-3 col-lg-3 xs-3">
      	 		
		        <div id="logo">
		        	<img src="./assets/logo.png">
		        </div>

		    </div>
      	 	<div class="col-md-3 col-sm-3 col-lg-3 xs-3">
				<p class="text-muted credit">
		            <div class="active"><a href="about.html">Σχετικά με εμάς!</a></div>
		            <div class="active"><a href="terms.html">Όροι</a></div>
		            <div class="active"><a href="contact.html">Επικοινωνία</a></div>
		            <div class="active"><a href="faq.html">Συχνές Ερωτήσεις και Απαντήσεις</a></div>
		        </p>
		    </div>
		    <div class="col-md-3 col-sm-3 col-lg-3 xs-3">
      	 		
		        <a href="https://www.google.com">Ακολουθήστε μας στο Twitter!</a>
		        <p>Ακολουθήστε τους Heapsters και στο Twitter για να παίρνετε τα νέα της σελίδας μας</p>
		    </div>
		    <div class="col-md-3 col-sm-3 col-lg-3 xs-3">
      	 		
		        <button onclick="location.href='donate.html';" class="btn btn-default btn-lg">Δωρεά!</button>
		    </div>
		</div>
     </div>
	  



		
</body>
</html>