<!--
<h1>Yo!</h1>
<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>
-->
<!DOCTYPE html>
<html ng-app="myApp" style="width: 100%">
<head>
	
	<title>Heapsters Project</title>

	
	<link rel="stylesheet" href="./partials/app.css">
	<!--<link rel="stylesheet" type="text/css" href="jquery-3.2.1.min.js">-->
</head>
<body style="width: 100%">

<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>
<!--logo sta aristera kai sta dexia thelw ena follow Heapsters on twitter kai ena donate button. sunolika thelw 4 pragmata sto footer-->
  
   <div class="container" >
    	<div class="row">
			<div class="col-lg-12 col-md-12 col col-sm-12 col-xs-12">
				<div id="content">	
					<h1>Funactivities!</h1>
					<h3>Η κορυφαία πλατφόρμα για <strong>γονείς</strong> στην αναζήτηση δραστηριοτήτων για τα παιδιά τους!</h3>
					
					<button onclick="location.href='/#/events';" class="btn btn-default btn-lg">Αναζήτηση δραστηριότητας!</button>
				</div>	
			</div>
		</div>

	</div>

	
<footer-directive></footer-directive>
		
</body>

</html>