<script type="text/javascript">
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<div style="width: 100%">
  <header-nav-directive></header-nav-directive>
</div>
<div class="container">
  
  <div class="row">
	
    
      <h1>Καλωσήρθατε στο προφίλ σας {{username}}</h1>
  </div>
  
  
  <div ng-if=isProvider>
  		<h5><strong>Εικόνα προφίλ</strong></h5>
    	<br>
    	<input type='file' onchange="readURL(this);" />
    	<img id="blah" src="#" alt="your image" />
    	<br>
		<h2> User Name		: {{username}} </h2>
		<h2> First Name		: {{firstname}} </h2>
		<h2> Last Name		: {{lastname}} </h2>
		<h2> Email    	 	: {{email}} </h2>
		<h2> Company Name 	: {{companyname}} </h2>
		<h2> Tax ID 		: {{TaxID}} </h2>
		<h2> Phone			: {{phone}} </h2>
		 Profile Picture <button> Upload or Change Profile Picture<input type="file" onchange="readURL(this);" ng-file-select="onFileSelect($files)"> </button>
	</div>
	
  <div ng-if=!isProvider>
        <h4 style="color: azure">Εικόνα προφίλ</strong></h4>
    	<br>
    	<input type='file' onchange="readURL(this);" ng-file-select="onFileSelect($files)" />
    	<img id="blah" src="#" alt="your image" />
    	<br>
        <h4 style="color: azure"> Όνομα χρήστη </h4>
        <input style="width: 15%" type="text"  class="form-control" value={{username}} readonly>
        <br>
		<h4 style="color: azure">Όνομα </h4>
        <input style="width: 15%" type="text" class="form-control"  value={{firstname}} readonly>
        <br>
        <h4 style="color: azure">Επώνυμο  </h4>
        <input style="width: 15%" type="text" class="form-control"  value={{lastname}} readonly>
        <br>
		<br>
        <h6 style="color: azure">*Συμπληρώστε στοιχεία επικοινωνίας για να λαμβάνετε ενημερώσεις. </h6>
        <br>
        <h4 style="color: azure">Ηλεκτρονική Διεύθυνση </h4>
    
        <input style="width: 15%" type="email" class="form-control"  value={{email}}  >
		<h4 style="color: azure">Τηλέφωνο επικοινωνίας </h4>
    
        <input style="width: 15%" type="text" class="form-control"  value={{mobile}}  >
        <br>
        <button  type="submit" class="btn btn-success" ng-disabled="disabled" >Αποθήκευση αλλαγών<i class="fa fa-check" ></i></button> 
		<h2 style="color: azure"> Οι πόντοι μου</h2>
        <br>
        <input style="width: 15%" type="text"  class="form-control" value={{points}} readonly> 
        <br>
        <br>
		<button onclick="location.href='/#/transfer';" class="btn btn-success btn-lg">Εισαγωγή πόντων μέσω κάρτας<i class="fa fa-plus" ></i></button>
  </div><!-- /.navbar-collapse -->
  
  
      
      <!--end form-->
    </div>

    
  


<!--script type="text/javascript" src="signup.js"></script>
</body>
</html!>