<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/frank-node-datetime@2.2.1/lib/index.min.js" ></script> -->
 <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 400px;
      width: 100%;
    }s
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
    }
</style>
<div id="piechart"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
setTimeout( function() {
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {
  //var sport = document.getElementById('sport');
  //var art = document.getElementById('art');
  //var sc = document.getElementById('sc');
  //var ent = document.getElementById('ent');
  //console.log(document.getElementById('sport').value)
  //console.log(document.getElementById('art').value)
  //console.log(document.getElementById('sc').value)
  //console.log(document.getElementById('ent').value)
  var s=parseInt(document.getElementById('sport').value);
  var a=parseInt(document.getElementById('art').value)
  var si=parseInt(document.getElementById('sc').value)
  var e=parseInt(document.getElementById('ent').value)
  var data = google.visualization.arrayToDataTable([
  ['Task', 'Hours per Day'],
  ['Sports', s],
  ['Art', a],
  ['Science', si],
  ['Entertainment', e]
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Last Month Statistics', 'width':550, 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
}, 500);
</script>

<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq6gVXzKjVwYvc0Y6cB9LWJcngquAnsY4&language=el" async defer>
</script>

<!--https://bootsnipp.com/snippets/featured/portfolio-gallery-with-filtering-category-->
<div class="container" align="center">
	
		        <input id="sport" value="{{ticSport}}" hidden>
            <input id="art" value="{{ticArt}}" hidden>
            <input id="sc" value="{{ticScience}}" hidden>
            <input id="ent" value="{{ticEnt}}" hidden >
            <h2 style="color: black"><strong>Οι δραστηριότητες που δημιούγησες :</strong> </h2>
            <p style="height: 30px"></p>
           
     		<div ng-init="getHistory()"></div>
			<div ng-repeat="event in list" align="center">
        <div class="row" align="center">
                <div class="gallery_product col-lg-12 col-md-12 col-sm-12 col-xs-12 filter {{event.category}}">
                    <a ng-href="./#/singleEvent?id={{event._id}}">
                    <img src="{{event.picture}}"  height="360" width="360" ng-href="event/single_event/?parameter={{event._id}}" >
                    <div class="event-title-overlay">
                    	<h2 style="color: blue">{{event.eventname}}</h2>
                    </div>
                    <div class="event-age-overlay">
						          <h2 style="color: blue">ηλικίες:{{event.minage}}-{{event.maxage}}</h2>
                    </div>
                    </a>
				      </div>
              <div class="row">
                      <h2 style="color: aliceblue"> Τα συνολικά εισιτήρια που αγοράστηκαν είναι: {{event.ticketspur}}</h2>
                      <h2 style="color: aliceblue"> Τα συνολικά έσοδα σε ευρώ είναι: {{event.money}}</h2>
                      <h2 style="color: aliceblue"> Οι συνολικές προβολές της σελίδας του event είναι: {{event.timesVisited}}</h2>
              </div>
            </div>
    </div>


</section>

