


<div style="width: 100%">
  <header-nav-directive></header-nav-directive>
</div>
<div class="container" style="width: 100%">
    <h2 style="color: aquamarine; text-align: center" >Καλώς ήρθατε στο προφίλ του παρόχου {{event.provider}}</h2>
    <p style="height: 15px"></p>
    <div  class="container" style="text-align: center;width: 100%;" ng-init="init()">
    

   <div style="width: 100%;text-align: center;" class="row" >
   <div class="col-md-6 col-sm-4 col-lg-6 xs-4">
        <div  style="color: aliceblue" class="form-inline" >
            <div class="form-inline">
                <label style="color: azure"><h4>Όνομα παρόχου  :</h4></label>
                <input type="email" class="form-control"  value={{firstname}} readonly>
            </div>
            <div class="form-inline">
                <label style="color: azure"><h4>Επώνυμο παρόχου: </h4></label>
                <input type="text" class="form-control"  value={{lastname}} readonly>
            </div>
            <div class="form-inline">
                <label style="color: azure"><h4>Όνομα εταιρείας: </h4></label>
                <input type="text" class="form-control"  value={{companyname}} readonly>
            </div>
            <div class="form-inline">
                <label style="color: azure"><h4>Ηλεκτρονική Διεύθυνση: </h4></label>
                <input type="email" class="form-control"  value={{email}} readonly>
            </div>
            <div class="form-inline">
                <label style="color: azure"><h4>Τηλέφωνο επικοινωνίας: </h4></label>
                <input type="email" class="form-control"  value={{phone}} readonly>
            </div>
           
            <br>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col-lg-6 xs-4">
        <br>
        <br>
        <h3>image - provider</h3>   
        
      </div>
  </div><!-- /.navbar-collapse -->
   <div style="width: 100%;text-align: center;" class="row">    
        <h3 ><strong>Λίγα λόγια για τον πάροχο</strong></h3>
        <textarea name="description" class="form-control" cols="60" rows="7" ng-model="description" value={{description}} readonly></textarea>
  </div>
   <div style="width: 100%;text-align: center;" class="row">
            <h2 style="color: azure" >Οι δραστηριότητες μας:</h2>
            <div ng-repeat="event in eventsList" align="center">
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{event.category}}">
                    <a ng-href="./#/singleEvent?id={{event._id}}">
                    <img src="http://www.femalefirst.co.uk/image-library/partners/rivals/square/500/l/lionel-messi-f012b0-rv.jpg" class="img-responsive" ng-href="event/single_event/?parameter={{event._id}}" >
                    <div class="event-title-overlay">
                    	<h2 style="color: blue">{{event.eventname}}</h2>
                    </div>
                    <div class="event-age-overlay">
						<h2 style="color: blue">ηλικίες:{{event.minage}}-{{event.maxage}}</h2>
                    </div>
					
                    </a>
                   <!--  <a ng-href="./#/singleEvent" >
                        deite to
					</a> -->

				</div>
            </div>
      
      <!--end form-->
    </div>  
      
      <!--end form-->
</div>
</div>

    
