<div style="width:100%">
  <header-nav-directive></header-nav-directive>
</div>
<script type="text/javascript">
$('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == $('#confirm_password').val()) {
    $('#message').html('Ταιριάζει').css('color', 'green');
    $('#sub_but').css('display', 'block')
  } else {
    $('#message').html('Δεν ταιριάζει').css('color', 'red');
    $('#sub_but').css('display', 'none')
  }
});
</script>
<div class="container-fluid bg">
  
  <div class="row" >

    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-md-4 col-sm-4 col-xs-12">

        <h1>Εγγραφή ως πάροχος</h1>
        <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
        <!--<form class="form" ng-submit="register()" style="margin-bottom: 35%;overflow: scroll;">-->
        <form class="form" ng-submit="register_provider()" style="margin-bottom: 35%;">
          <div class="form-group">
            <label><h3 style="color: black" ><strong>Όνομα</strong></h3></label>
            <input type="text" class="form-control" name="firstname" ng-model="registerForm.firstname" placeholder="Όνομα" required>
          </div>
          <div class="form-group">
            <label><h3 style="color: black" ><strong>Επώνυμο</strong></h3></label>
            <input type="text" class="form-control" name="lastname" ng-model="registerForm.lastname" placeholder="Επώνυμο" required>
          </div>
          <div class="form-group">
            <label><h3 style="color: black" ><strong>Όνομα χρήστη</strong></h3></label>
            <input type="text" class="form-control" name="username" ng-model="registerForm.username" placeholder="Όνομα χρήστη" required>
          </div>
          <div class="form-group">
            <label><h3 style="color: black" ><strong>Ηλεκτρονίκή Διεύθυνση</strong></h3></label>
            <input type="email" class="form-control" name="email" ng-model="registerForm.email" placeholder="example@email.abc" required>
          </div>
		  <div class="form-group">
            <label><h3 style="color: black" ><strong>Όνομα Εταιρίας</strong></h3></label>
            <input type="text" class="form-control" name="companyname" ng-model="registerForm.companyname" placeholder="Όνομα εταιρείας" required>
          </div>
		  <div class="form-group">
            <label><h3 style="color: black" ><strong>Αριθμός φορολογικού μητρώου(Α.Φ.Μ.)</strong></h3></label>
            <input type="text" class="form-control" name="TaxID" ng-model="registerForm.TaxID" placeholder="Α.Φ.Μ." required>
          </div>
          <div class="form-group">
            <label><h3 style="color: black" ><strong>Κωδικός</label></h3></strong>
            <input type="password" class="form-control" name="password" ng-model="registerForm.password" placeholder="********" id ="password" required>
          </div>
          <div class="form-group">
            <label><h3 style="color: black" ><strong>Επανάληψη Κωδικού</label></h3></strong>
            <input type="password" class="form-control" name="password_repeat" ng-model="registerForm.password_repeat" placeholder ="********"id="confirm_password" required><span id="message"></span>
          </div>
          <h4 style="color:aqua" >Διαβάστε προσεκτικά τους όρους, όπως παρουσιάζονται στον παρακάτω σύνδεσμο. Σε περίπτωση που τους αποδέχεστε <strong>εγγραφείτε</strong></h4>
          <div>
            <div class="active"><a href="./#/terms"><strong>Όροι της ιστοσελίδας</strong></a></div>
          </div>
          <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12"></div>
          <div class="col-md-4 col-sm-4 col-xs-12">
          <!--div-->
            <button type="submit" class="btn btn-success" ng-disabled="disabled" id="sub_but">Εγγραφή</button>
            <!--button type="submit" class="btn btn-success"></button-->
          <!--/div-->
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<div footer-directive></div>

