<div style="width: 100%">
	<header-nav-directive></header-nav-directive>

    <div ng-init = "getEventById()">
    <div>
        <!--to do : Display provider of event by adding field of provider in event.js -->
        <h3>Ο πάροχος  {{event.provider}} σας προσφέρει:</h3>
        <br>
        <b><h3>Όνομα Δραστηριότητας :{{event.eventname}}</h3></b>
    </div>
    <div>
        <b><h3> Σύντομη Περιγραφη δραστηριότητας : {{event.description}}</h3></b>
    </div>
    <b><h3>Ηλικίες:{{event.minage}} - {{event.maxage}}</h3></b>
    <b><h3>Τιμη:{{event.price}}</h3> <br></b>
    
</div>