<style>
    body{
        background-image: url();
    }
</style>


<!DOCTYPE html>
<html>
<head>
	<title>About the page</title>
	
</head>
<body>

<div style="width: 100%">
	<header-nav-directive></header-nav-directive>
</div>
<div class="container" style="color: black">
	<h1  style="color: green;text-align: center"><u>ΠΟΛΙΤΙΚΗ ΠΡΟΣΤΑΣΙΑΣ ΠΡΟΣΩΠΙΚΩΝ ΔΕΔΟΜΕΝΩΝ</u></h1>
	<p class="just_padding">
		Σεβόμαστε την ιδιωτικότητα όλων των επισκεπτών της παρούσας ιστοσελίδας. Συνεπώς, θα θέλαμε να σας ενημερώσουμε σχετικά με τον τρόπο χρήσης των προσωπικών σας δεδομένων. Σας συνιστούμε να διαβάσετε την παρούσα πολιτική προστασίας προσωπικών δεδομένων προκειμένου να κατανοήσετε την προσέγγισή μας ως προς τη χρήση των προσωπικών σας δεδομένων.
	</p>
	<p class="just_padding">Κοινοποιώντας σε εμάς τα προσωπικά σας δεδομένα θεωρείται ότι έχετε παράσχει την άδειά σας, όπου αυτό απαιτείται ή ενδείκνυται, για την περαιτέρω κοινοποίησή τους σύμφωνα με την παρούσα πολιτική.
	</p>
    <ul>
        <li><h2 style="color: royalblue" class="just_padding">Εισαγωγή</h2></li>
        <p class="just_padding"> Οι παρακάτω όροι και συνθήκες που βρίσκονται σε αυτήν την σελίδα, θα κυριαρχούν την χρήση σας της σελίδας, συμπεριλαμβανομένου όλων των σελίδων στην ιστοσελίδα. Οι όροι αυτοί εφαρμόζονται σε πλήρη ισχύ και επηρεάζουν την χρήση της σελίδας και χρησιμοποιώντας αυτήν την ιστοσελίδα, <strong>δέχεστε</strong> όλους τους όρους και συνθήκες που περιέχονται σε αυτήν την σελίδα. Δεν πρέπει σε καμία περίπτωση να χρησιμοποιείς αυτή την ιστοσελίδα, αν έχεις αντίρρηση σε κάποιον όρο ή συνθήκη. <strong>Η σελίδα αυτή δεν είναι προορισμένη για ανηλίκους, και δεν πρέπει να χρησιμποιήσεις αυτήν την ιστοσελίδα αν είσαι ανήλικος.</strong>
        </p>

        <li><h2 style="color: royalblue" class="just_padding">Πνευματικά δικαιώματα</h2></li>
        <p class="just_padding">
            Εκτός από το περιεχόμενο που σου ανήκει, που μπορεί να επέλεξες να συμπεριλάβεις σε αυτήν την ιστοσελίδα, υπό αυτούς τους όρους, Heapsters κατέχουν όλα τα πνευματικά δικαιώματα που περιλαμβάνονται σε αυτήν την ιστοσελίδα, και όλα αυτά τα δικαιώματα διατηρούνται.
        </p>

        <li><h2 style="color: royalblue" class="just_padding">Τι απαγορεύεται?</h2></li>
        <div class="just_padding">
            <div><strong>Απαγορεύονται οι παρακάτω πράξεις</strong></div>
            <div>
            <ul>
                <li>Δημοσίευση υλικό της ιστοσελίδας σε άλλα μέσα.</li>
                <li>Δημόσια προβολή υλικού της ιστοσελίδας.</li>
                <li>Χρησιμοποίηση της ιστοσελίδας με οποιονδήποτε τρόπο που ενδεχομένως να είναι αρνητική για την εύρυθμη λειτουργία της ιστοσελίδας.</li>
                <li>Επιτέλεση data mining, data harvesting, data extracting. </li>
                <li>Χρησιμοποίση αυτής της σελίδας για διαφήμιση.</li>

            </ul>
            </div>
        </div>
        <li><h2 style="color: royalblue" class="just_padding">Το περιεχόμενο σας.</h2></li>
        <p class="just_padding">
           Σαν περιεχόμενο σας εννοείται κάθε υλικό που επιλέγετε να δείξετε σε αυτήν την ιστοσελίδα. Πρέπει να είναι δικό σας και να μην παραβιάζει οποιαδήποτε διακαιώματα μίας τρίτης ομάδας. Οι Heapsters έχουν το δικαίωμα να διαγράψουν το περιεχόμενο σας για οποιοδήποτε λόγο, οποιαδήποτε στιγμή και χωρίς προειδοποίηση.    
        </p>
        <li><h2 style="color: royalblue" class="just_padding">Όρια ευθύνης.</h2></li>
        <p class="just_padding">
           Σε καμία περίπτωση η Heapsters και οποισδήποτε υπάλληλος ή διευθυντής δεν είναι υπεύθυνος σε εσάς για οτιδήποτε που σας προκύπτει και προέρχεται από την ιστοσελίδα.
        </p>
        <li><h2 style="color: royalblue" class="just_padding">Συνολική συμφωνία.</h2></li>
        <p class="just_padding">
            Αυτοί οι όροι αποτελούν την συνολική συμφωνία μεταξύ των Heapsters και εσάς σε σχέση με την χρήση σας της ιστοσελίδας.
               
        </p>

	
    
    
    </ul>
	
    <p style="height: 240px">
    
    </p>
</div>
<div class="container">
<footer-directive></footer-directive>
</div>
</body>

</html>